.category-page, .resault-search{
    text-align: center;
    padding: 50px 0 50px;


    .section__title{
    
        &:after{
            right: 104%;
            @include media-for (null, 1025px){
                right: 98%;
             } 
        }
    
    }

    @include media-for (null, $sm){
        padding: 35px 0 0px;
     } 

    .section__title{
        margin: 0;
    }

    
    .line{
        margin-top: 40px;
        @include media-for (null, $sm){
            margin-top: 30px;
         } 

    }


    .btn-blue{
        margin-top: 40px;
        width: 211px;
        padding: 20px;

        @include media-for (null, $sm){
           margin-bottom: 3rem!important;
           display: block;
           margin: auto;
           padding: 15px 0;
        }  
    }

    .info-message{
        text-align: center;
        color: $accent;
        margin-top: 45px;
        margin-bottom: 78px;

        @include media-for (null, $sm){
            margin-top: 10px;
         } 
        h3{
            font-weight: 400;
            font-size: 26px;
            font-family: 'DelaGothicOne';

            @include media-for (null, $sm){
                font-size: 14px;
             } 
        }

        p{
            font-weight: 400;
            font-size: 14px;
            margin: auto;
            margin-bottom: 25px;
            width: 26%;

            @include media-for ( null, $mid-desktop){
                width: 30%;
             }  

            @include media-for (null, $tablet){
                width: 45%;
             }  

             @include media-for (null, $sm){
                width: 85%;
                margin-bottom: 30px;
                margin-top: 15px;
             } 
        }

        .btn-blue{
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 277px;
            height: 62px;
        }
    }

    .cheked-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 3rem;

        @include media-for (null, $sm){
            margin-top: -10px;
         } 

        .chaked-box{
            border: 1px solid $accent;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 15px;
            border-radius: 24px;
            font-size: 16px;
            font-weight: 700;
            color: $accent;
            margin-right: .4rem;
            margin-bottom: .6rem;

            @include media-for (null, $sm){
                height: 50px;
                border-radius: 20px;
             }  

            .close-btn-wrap{
                width: 28px;
                height: 28px;
                cursor: pointer;
                border: 1px solid $accent;
                border-radius: 100%;
                margin-left: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                img{
                    width: 60%;
                }
            }
        }
    }

}


  
