.category-page{
    text-align: center;
    padding: 50px 0 50px;

    @include media-for (null, $sm){
        padding: 35px 0 0px;
     } 

    .section__title{
        margin: 0;
    }

    
    .line{
        margin-top: 40px;
        @include media-for (null, $sm){
            margin-top: 30px;
         } 

    }


    .btn-blue{
        width: 211px;
        padding: 20px;

        @include media-for (null, $sm){
           margin-bottom: 13px !important;
           display: block;
           margin: auto;
           padding: 15px 0;
        }  
    }

    .btn-white{
        margin-right: 0;
        margin-left: auto;
        display: block;
        text-align: center;
        max-width: 262px;
        text-transform: none;
        padding: 20px;

        @include media-for (null, $sm){
            display: block;
            margin: auto;
            padding: 15px 0;
         }  
    }




    .col-two{

        .filter__properties-list{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

        label{
            border: 1px solid $accent;
            width: 170px;
            height: 70px;
            display: block;
            padding: 14px 15px;
            font-family: 'DelaGothicOne';
            font-size: 13px;
            font-weight: 400;
            color: $accent;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: .8;

        }

        .filter__properties-item{
            margin-right: .2rem;
        }
    }
}


  
