.fix-cart{
    position: fixed;
    bottom: calc(100vh - 335px);
    right: 20px;
    width: 64px;
    height: 64px;
    background-color: $accent; 
    border-radius: 27px;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    @include media-for (null, $sm){
        width: 50px;
        height: 50px;
        bottom: calc(100vh - 240px);
        border-radius: 19px;
        right: 10px;
    }

    .cart{
        position: relative;

        .speech{
            position: absolute;
            right: 160%;
            top: 50%;
            transform: translateY(-50%);
            color: #37296C;
            background: $text-white;
            padding: 3px;
            border-radius: 10px;
            font-size: 7px;
            min-height: 30px;
            font-size: 12px;
            white-space: nowrap;
            padding: 10px;
            border: 1px solid $bg-gray;
            opacity: 0;
            z-index: -1;

            &::after {
                content: "";
                border: 10px solid transparent;
                position: absolute;
            }

        } 

        .right.speech::after {
            border-left-color: $text-white;
            box-shadow: 0px 4px 15px 0px rgba($color: $bg-gray, $alpha: 1.0);
            border-right: 0;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
        }

    }

    &:hover{
        .speech{
            opacity: 1;
            z-index: 10;
        }
    }

}

.cart{
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;

    .mini-cart-count{
        position: absolute;
        bottom: 0px;
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background-color: $orange;
        color: $text-white;
        transform: translate(120%, 40%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 700;
    }
}