.footer{
    color: $text-white;
    background-color: $accent;
    padding-top: 30px;

    @include media-for (null, $sm){
        padding-bottom: 50px;
        text-align: center;
    }

    .footer-top{
        padding-bottom: 35px;
        border-bottom: 1px solid $text-white;

        @include media-for (null, 950px){
            margin-bottom: 35px;
        }

        @include media-for (null, $tablet){
            margin-bottom: 0;
        } 

        @include media-for (null, $sm){
            border-bottom: none; 
        }

        .logo{
            img{
                @include media-for (null, 950){
                    width: 100%;
                }

                @include media-for (null, $sm){
                    margin: auto;
                    width: auto;
                }
            }
        }

        .time-wrap{
            @include media-for (null, $sm){
                flex-direction: column-reverse;
                margin: 22px 0 30px;
                font-size: 16px;

                img{
                    margin-top: 7px;
                }

                span{
                    font-size: 16px; 
                }

                p{
                    margin: 0;
                    font-size: 16px;
                   
                }

            }
            
        }

        .social-wrap{
            width: 70%;
            margin-right: 0;
            margin-left: auto;

            @include media-for (null, $sm){
                margin: auto;
                width: 40%;
            }
        }
    }

    ul{
        display: flex;
        justify-content: space-between;
        
        li{
            a{
                font-weight: 400;
                font-size: 16px;
                padding: 25px 0 35px;
                display: block;

                &:hover{
                    color: $orange;
                }
            }
        }
    }

    p{
        font-size: 12px;

        @include media-for (null, 950px){
            text-align: center;
        }

        @include media-for (null, $sm){
            margin-top: 25px;
        }

    }

    .navigation{
        a{
            @include media-for (null, $tablet){
                font-size: 13px;
                padding: 25px 0 25px;
            }  
        }
    }

    .visa{
        @include media-for (null, 1025px){    
              img{
                width: 100%;

                @include media-for (null, $sm){
                    width: 27%;
                }
              }  
        }
    }

    .company{
        @include media-for (null, $sm){
            margin-top: 2rem;
        }
    }
}