// html{
//     overflow-x: hidden;
// }


body{
    // font-family: 'DelaGothicOne';
    font-family: 'Open Sans', sans-serif;
    color: rgba($color: #000000, $alpha: .7);
    transition: all .2s ease-in;
    position: relative;
	overflow-x: hidden;


    &::-webkit-scrollbar {
        width: 0;
    }
    


    @include media-for (null, $sm){
        overflow-x: hidden;
    }
}
main{
    position: relative;
    overflow-x: hidden;
    transition: all .2s ease-in-out;

    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 0px;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha: .5);
        z-index: 10;
        transition: all .9s ease-in;
        opacity: 0;
    }
}

button{
    outline: none;
    border: none;
    background: none;
    transition: all .2s ease-in-out;
}



ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: $text-white;
    text-decoration: none;
    transition: all .2s ease-in-out;
    
    &:hover{
        color: $text-white;
    }
}

.container-fluid{
    width: 100%;
    padding: 0 100px ;

   
    @include media-for (null, $desktop){
        padding: 0 50px;
    }

    @include media-for (null, $sm){
        padding: 0 15px;
    }
}

svg{
    transition: all .2s ease-in-out; 

    path{
        transition: all .2s ease-in-out;  
    }
    circle{
        transition: all .2s ease-in-out;  
    }
    rect {
        transition: all .2s ease-in-out;  
    }
}

p{
    margin: 0;  
}

.overflow{
    overflow: hidden;
}

.put-up{
    
    &::before{
        opacity: 1;
        height: 100%;
    }
}



.time-wrap{

    span{
        font-size: 13px;
        font-weight: 700;
    }

    img{
        width: 2.5rem;
    }

    p{
        font-size: 16px;
        font-weight: 300;
    }
}



.section__title{
    position: relative;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    color: $accent;
    margin-bottom: 60px;
    font-family: 'DelaGothicOne';


    @include media-for (null, $sm){
        font-size: 14px;
        margin-bottom: 28px;
    }

    &:before,
    &:after{
      content: '';
      height: 38px;
      position: absolute;
      background: url(../img/blue-fish.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 143px;
      transform: translateY(-50%);
      top: 50%;

      @include media-for (null, $sm){
            height: 20px;
            width: 72px;
       }
    }


    &:before{
        left: 116%;
    }
    &:after{
        right: 104%;
    }

}

.title-bg-two{
    &:before,
    &:after{
      content: '';
      height: 43px;
      background: url(../img/small-fish.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 77px;

      @include media-for (null, $sm){
            height: 20px;
            width: 35px;
        }
    }

    &:before{
        left: 116%;
    }
    &:after{
        right: 104%;
    }
}


.btn__wrapper{
    text-align: center;
}

.btn-blue{
    border-radius: 24px;
    text-transform: uppercase;
    color: $text-white;
    padding: 24px 53px;
    font-size: 16px;
    font-weight: 700;
    background-color: $accent;

    &:hover{
        background-color: #1E114A; 
    }

    @include media-for (null, $sm){
        font-size: 14px;
        padding: 17px 50px;
        border-radius: 20px;
    }
}


.сhat-bubbles-wrap{
    position: absolute;
    left: 50%;
    top: 66%;
    transform: translateX(-38%);
    opacity: 0;
    transition: all .2s ease-in-out; 
    z-index: 50;
}

.сhat-bubbles {
    display: inline-block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid $bg-gray;
    position: relative;
    border-radius: 6px;
    background-color: $text-white;
    color: #37296C;

    &:before,
    &:after{
      content: '';
      height: 12px;
      position: absolute;
      bottom: 100%;   
    }

    &:before{
      width: 1px;
      background-color: $bg-gray;
      left: 20px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 100px;
      transform: rotateY(160deg);
    }
    &:after{
      width: 1px;
      background-color: $bg-gray;
      left: 26px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 50px;
        transform: skew(227deg,0);
    }
  
    & >:first-child:after,
    & >:first-child:before {
      content: '';
      position: absolute;  
      background-color: $text-white; 
      bottom: 100%;
    }
    & >:first-child:before {
      width: 6px;
      height: 3px;
      left: 26px;
    }
    & >:first-child:after {
      width: 5px;
      height: 5px;
      left: 23px;
      transform: skew(-45deg, 0);
    }
}