.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s ease-in-out;
    z-index: 100;

    .header-top{
        position: relative;
        background-color: $accent;
        color: $text-white;
        font-size: 13px;
        font-weight: 600;
        z-index: 100;

        @include media-for (null, 950px){
            text-align: center;
        }

        @include media-for (null, $sm){
            
            font-size: 12px;
            padding: 10px 0;
        }

    }

    .logo{
        a{
            img{
                width: 100%;
            } 
        }
    }

    .header-center{
        padding: 30px 0;
        transition:  margin-top  .3s;
        background-color: $text-white;

        @include media-for (null, $sm){
            padding: 17px 0;
            transition: none;
        }

        .social-wrap{
            a{
                width: 36px;
                display: block;
            }
        }


        button{
            @include media-for (null, $sm){
                display: block;
            } 
        }

        .search{
            cursor: pointer;
        }
    }

    .header-center-scroll{
        margin-top: -108px;
        z-index: -100;

        @include media-for (null, $sm){
            margin-top: -75px;
        } 
    }

    .header-bottom{
        position: relative;
        border-top: 1px solid $bg-gray;
        border-bottom: 1px solid $bg-gray;
        background-color: $text-white;
        

        @include media-for (null, $tablet){
            .container-fluid{
                padding-right: 0 !important;
            }
        } 

  
        .header__category{
            
            ul{
                display: flex;
                justify-content: center;
                align-items: center;

                @include media-for (null, 950px){
                    overflow: hidden;
                    overflow-x: scroll;
                    justify-content: space-between;

                    &::-webkit-scrollbar {
                        width: 0;
                        height: 0;
                    }

                }
                
                
                a{
                    position: relative;
                    display: block;
                    width: 8rem;
                    padding: 0 0.3rem;
                    height: 100%;


                    @include media-for (null, 1407px){
                        width: 5.5rem;
                    }

                    @include media-for (null, 1269px){
                        width: 5rem;
                    }

                    @include media-for (null, 1100px){
                        width: 4.8rem;
                    }


                    @include media-for (null, 950px){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 0.7rem;
                        width: 6.5rem;

                        .сhat-bubbles-wrap{
                            opacity: 1;
                            position: relative;
                            left: 0;
                            top: auto;
                            transform: translateX(0);

                            .сhat-bubbles{
                                margin:  0 auto;
                                border: none;
                                &:before,
                                &:after{
                                  display: none; 
                                }

                                p{

                                    text-align: left;

                                    &:before,
                                    &:after{
                                    display: none; 
                                    }
                                }
                            }
                        }
                    } 

                    @include media-for (null, $sm){
                        margin-right: 0rem;

                        .сhat-bubbles-wrap{
                            opacity: 1;
                            height: auto;
                            z-index: 0;
                        }
                    } 

                    .cotegory_img{
                        height: 58px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include media-for (null, 950px){
                            height: 80px;
                        } 

                        @include media-for (null, $sm){
                            height: 60px;
                        } 
                  
                    }

                    &:hover{
                        background: $bg-gray-opacity;

                        @include media-for (null, 950px){
                            background: rgba($color: #000000, $alpha: .0);
                        } 

                        .сhat-bubbles-wrap{
                            opacity: 1;
                            z-index: 50;
                            height: auto;
                        }
                    }

                    &:hover a .category__img svg path {
                        fill: $orange;
                    }
                }


                

                li{

                    &:first-child{

                        a{
                            display: flex;
                            align-items: center;
                            width: 7rem;
                            padding: 0 0.3rem;

                            @include media-for (null, $sm){
                                padding-left: 0;
                            } 
    
                            .сhat-bubbles-wrap{
                                position: relative;
                                transform: translate(0 , 0);
                                top: 0;
                                left: 0;
                                opacity: 1;
                                height: auto;
                                z-index: 50 !important;

                                .сhat-bubbles {
                                    padding: 0;
                                    border: none;
                                    background: rgba($color: #000000, $alpha: .0);
                                    &:before,
                                    &:after{
                                      display: none;  
                                    }
                            
                                    & >:first-child:after,
                                    & >:first-child:before {
                                      display: none;
                                    }
                                }
                            }

                        }

                        p{
                            margin-left: .5rem;
                            font-family: 'DelaGothicOne';
                            font-weight: 400;
                            color: $orange;
                            font-size: 16px;

                            @include media-for (null, $sm){
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            p{
                color: #37296C;
                margin: 0;
                background: rgba($color: #000000, $alpha: .0);
                text-align: center;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }

}

.header-fixed{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

.local-wrap{
    position: relative;
    cursor: pointer;

    &:hover{
        background: rgba($color: #000000, $alpha: .2);
    }

    .local{
        display: flex;
        justify-content: start;
        font-weight: 300;
        padding: 8px 10px;
        transition: all .2s ease-in-out;
        font-size: 13px;
        padding-left: 1.7rem;
        white-space: nowrap;

        @include media-for (null, 950px){
            justify-content: center;
        }
    
        @include media-for (null, $sm){
            background-color: $accent;
            padding-left: 28px;
            justify-content: flex-start;
        }
    
        span{
            font-weight: 600;
            margin: 0 .5rem;
        }
        
    }


    .city-list{
        position: absolute;
        width: 100%;
        left: 0;
        background-color: $text-white;
        padding: 16px 55px 18px 40px;
        border: 1px solid $bg-gray;
        border-radius: 0 0 30px 30px;
        z-index: 10;
        top: 0;
        opacity: 0;
        height: 0;
        z-index: -100;

        @include media-for (null, $tablet){
            padding: 16px 17px 2px 14px;
            text-align: left;
            border-radius: 0 0 20px 20px;
        }

        @include media-for (null, $sm){
            top: -500%;
        }

        h6{
            font-size: 13px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 18px;
            color: rgba($color: #323549, $alpha: .7);

            @include media-for (null, $sm){
                font-size: 15px;
            }
        }

        div{
            display: none;

            ul{
                margin-right: 50px;

                li{
                    margin-bottom: 18px;

                    a{
                        
                        color: rgba($color: #262730, $alpha: .7);
                        font-weight: 600;
                        font-size: 13px;
                        // margin-right: 50px;

                        @include media-for (null, $sm){
                            font-size: 14px;
                        }

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .city-list-active{
        opacity: 1;
        height: auto;
        top: 100%;
        z-index: 100;
        
        div{
            display: flex;
        }
        @include media-for (null, $sm){
            top: 100%;
            margin: 0 1.5rem;
            width: 84%;
        }
    }
}







.lang-desctop{
    position: relative;
    padding: .0rem;
    cursor: pointer;
    width: 3.7rem;
    transition: all .4s ease-in-out;

    
    a{
        display: block;
        padding: .2rem .3rem;
        color: $accent;
        font-family: 'DelaGothicOne';
        font-weight: 400;
        font-size: 14px;
    }

    .lang-opener{
        display: none;
    }

    .lang-desctop-wrap{
        width: auto;
        text-align: center;

        .active{
            display: block;
        }

    }

    .arrow-wrap{
        width: 15%;
        transition: all .2s ease-in-out;
        
        svg{
            width: 100% !important;
            display: block;
            transition: all .2s ease-in-out;
        }
    }

    .lang-list{
        height: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in-out;

        .lang-opener{
            display: block;
            width: 2rem;
            padding: 0;
        }

        .active{
            display: none;
        }
    }
}

.lang-desctop-active{
   
    .lang-list{
        position: absolute;
        left: 0;
        position: relative;
        bottom: 0;
        transform: translate(10%, 100%);
        visibility: visible;
        opacity: 1;
    }

    .arrow-wrap{
        transform: rotate(180deg);
    }
}



.form-search {
    position: relative;

    .search-wrap{
        position: absolute;
        right: 0;
        height: 100%;
        background-color: $text-white;
        top: 0;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        transition: all .3s ease-in-out; 
        right: 0;
        opacity: 0;
        z-index: -1;

        form{
            display: flex;

            input{
                border: none;
                outline: none;
                border-bottom: 1px solid $accent;
                width: 0;
                transition: all .3s ease-in-out;

                
            }
        }

        .close-search{
            cursor: pointer;
        }

        
    }

    .search-wrap-active{
        opacity: 1;
        right: 0;
        z-index: 10;

        form{
            height: auto;

            input{
                width: 13rem;

                @include media-for (null, $sm){
                    width: 7rem;
                }
            }
        }
    }
}

