
.product__item{
    position: relative;
    display: block;
    border: 1px solid rgba($color: $accent, $alpha: .0);
    box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .0);
    border-radius: 45px;
    padding-top: 35px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: all .4s ease-in-out;
    background-color: $text-white;

    @include media-for (null, $mid-desktop){
        padding-top: 15px;
    }


    @include media-for (null, 1025px){
        border-radius: 32px;
        box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);
    }
    
    @include media-for (null, $sm){
        margin-bottom: 10px;
        border-radius: 30px;
    }

    &:hover{
        box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);
        
        .btn-primary{
            opacity: 1 !important;
            z-index: 10 !important;
        }
    }


    .product__image{
        border-radius: 50px 50px 0px 0px;
        text-align: center;
        overflow: hidden;
        border-radius: 35px;
        width: 310px;
        height: 215px;
        margin: auto;
        margin-bottom: 40px;

        @include media-for (null, $mid-desktop){
            margin-bottom: 20px;
        }

        @include media-for (null, $sm){
            border-radius: 35px;
            height: 131px;
            margin-bottom: 30px;
        }

        img{
            width: 100%;
            // object-fit: cover;
            object-fit: contain;
            height: 100%;
            @include media-for (null, $sm){
               
            }
        }

    }

    .product__detail{
        text-align: center;

        h3{
           font-weight: 700;
           font-size: 26px; 
           color: $accent;
            margin-bottom: 11px;

           @include media-for (null, $sm){
                margin-bottom: 17px;
                font-size: 16px;
            }
        }

        .cart__detail{
            padding: 0 3rem;
           p{
               color: #262730; 
               font-weight: 300;
               font-size: 14px;
               height: 1.5rem;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;

               @include media-for (null, $sm){
                    display: none;
                } 
           } 
        }

    }

    .product__cart{
        margin: 25px 0 40px;
        padding: 0 3rem;

        @include media-for (null, $mid-desktop){
            margin: 15px 0 15px;
        }

        @include media-for (null, $sm){   
            margin: 15px 0 20px;
        }

        .product__cart-info-block{
            text-align: center;

            .product__cart__info{
                display: flex;
                flex-direction: column-reverse;

                .price{
                    font-weight: 700;
                    font-size: 24px; 
                    color: $accent;

                    @include media-for (null, $sm){
                        font-size: 16px;
                    }
    
                }
                .regular-price{
                    font-weight: 700;
                    font-size: 18px; 
                    color: $accent;
                    text-decoration: line-through;

                    @include media-for (null, $sm){
                        font-size: 14px;
                    }
                }
                li{
                    color: rgba($color: #323549, $alpha: .7);
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }

        .btn-primary{
            position: absolute;
            bottom: 25px;
            right: 20px;
            opacity: 0;
            z-index: -1;
            transition: all .1s ease-in;
            width: 64px;
            height: 64px;
            background-color: $orange;
            border-radius: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            &:hover{
                background-color: #FF7937;
            }

            @include media-for (null, 1025px){
                opacity: 1;
                z-index: 1;
                right: 10px;
                bottom: 10px;
                padding-right: 0;
            }

            @include media-for (null, $sm){
                width: 46px;
                height: 46px;
                border-radius: 19px;

                img{
                    width: 21px;
                    height: 21px;
                    display: block;
                }
            }
        }

    }



    .сhat-bubbles-wrap{


        @include media-for (null, 1025px){
            left: 0%;
            transform: translateX(-60%);
        }
    }
    
    .сhat-bubbles {

        @include media-for (null, 1025px){
            min-width: 6rem;
        }

        P{
            @include media-for (null, 1025px){
                
            }
        }
    

    
        &:before{

          @include media-for (null, 1025px){
            right: 32px;
            left: auto;
            background-color: $bg-gray;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 50px;
            transform: skew(-227deg, 0);
          }
        }
        &:after{


            @include media-for (null, 1025px){
                left: auto;
                right: 26px;
                background-color: $bg-gray;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 100px;
                transform: rotateY(-160deg);
            }
        }
      

        & >:first-child:before {

          @include media-for (null, 1025px){
            left: auto;
            right: 26px;
            width: 12px;
            height: 1px;
          }
        }
        & >:first-child:after {

          @include media-for (null, 1025px){
                left: auto;
                right: 31px;
                width: 5px;
                height: 5px;
                -webkit-transform: skew(45deg,0);
                -ms-transform: skew(45deg,0);
                transform: skew(-45deg,0);
            }
        }
    }
}

.sale-badge{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    background-color: $orange;

    @include media-for (null, 1025px){
        right: 10px;
        top: 10px;
    } 

    @include media-for (null, 1025px){
        width: 36px;
        height: 36px;
        img{
            width: 26px;
        }
    } 

    img{
        width: 2rem;
        height: 2rem;
    }

    .сhat-bubbles-wrap {
        top: 80%;
        transform: translateX(-17%);
    }

    &:hover{

        .сhat-bubbles-wrap{
            opacity: 1;
            z-index: 50;
            height: auto;
        }
    }
}

.hot-sale{
    background-color: $red;
}

.new-sale{
    background-color: $accent;
}

.vegaterian-sale{
    background-color: $green;
}