.accordion-section{
    padding: 126px 0 110px; 

    @include media-for (null, $sm){
        padding: 60px 0 30px; 
    }

    .accordion {

        .accordion-item {
          border: 1px solid $accent;
          margin-bottom: 18px;
          border-radius: 24px;  
          transition: none;



          button[aria-expanded='true'] {
            border: 1px solid $accent;
            border-radius: 24px;
            border-top: none;
          }
        }

        button {
            transition: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 23px 25px 23px 40px;
            border-bottom: 1px solid #DCDCDC;
            border: none;
            background: none;
            outline: none;
            width: 100%;

            @include media-for (null, $sm){
                padding: 15px 25px;
            }

            h4{
                font-size: 16px;
                font-weight: 400;
                color: $accent;
                font-family: 'DelaGothicOne';
                margin: 0;
            }

            .span-plus{
                position: relative;
                display: block;
                width: 18px;
                height: 18px;
                border-radius: 100%;
                border: 1px solid $accent;

                &::before{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 7px;
                    height: 1px;
                    background-color: $accent;
                }
            }
       
        }

        .accordion-item-active{
            background-color: $accent;
            h4{
                color: $text-white;
            }
            .span-plus{
                border: 1px solid $text-white;
                &::before{
                    background-color: $text-white;
                }
                &::after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(90deg);
                    width: 7px;
                    height: 1px;
                    background-color: $text-white;
                }
            }
        }



        button[aria-expanded='true'] {
                    
          + .accordion-content {
                opacity: 1;
                max-height: 100%;
                // transition: all 200ms linear;
                will-change: opacity, max-height;
                padding: 38px 0  54px 44px;
            }
        }

        .accordion-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            // transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;

            p{
                width: 70%;
                font-size: 14px;
                font-weight: 300;
                color: $text-black;
                margin-bottom: 25px;

                @include media-for (null, $tablet){
                    width: 90%;
                }

                @include media-for (null, $sm){
                    font-size: 13px;
                    width: 100%;
                }
            }
        }
    }
}