.cart-page{
    padding: 70px 0 120px;

    .breadcrumbs{
        color: $accent;
    }

    .section__title{
        margin: 0;
        &::before,
        &::after{
            display: none;
        }
    }

    .title-step{
        position: relative;
        font-size: 16px;
        font-weight: 400;
        font-family: 'DelaGothicOne';
        color: $accent;

        span{
            position: absolute;
            left: -7%;
            top: 50%;
            width: 41px;
            height: 41px;
            transform: translateY(-50%);
            background-color: #B3BCF3;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h3{
            
            color: $accent;
        }
    }

    input{
        outline: none;
        margin-top: 30px;
        padding-bottom: .3rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .25);
    }

    .quantity{
        margin: 0;
        input{
            border: none;
            width: 3rem;
            margin: 0;
        }
    }

    .quantity-wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .select-wrap{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $accent;
        border-radius: 24px;
        margin: 30px 0 60px;
        height: 84px;
        padding-right: 26px;
        cursor: pointer;

        .img-wrap-local{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 70px;
        }
        .select-dropdown{
            margin-bottom: 0;
            position: initial;
        }

        .select-dropdown__button{
            border-bottom: none;
            padding: 0;
            display: flex;
            flex-direction: column;

        }

        .choose-city{
            font-size: 12px;
            font-weight: 400;
            color: rgba($color: #323549, $alpha: .7);
        }

        .city{
            font-size: 16px;
            font-weight: 700;
            color: $accent;
            display: block;
        }

        .region{
            font-size: 12px;
            font-weight: 400;
            color: rgba($color: #323549, $alpha: .7);
            display: block;
        }

        .select-dropdown__list {
            top: 101%;

            .select-dropdown__list-item{
                border-top: none;
                border-bottom: 1px solid $accent;
            }
        }

        .arrow-rotate{
            transition: all .2s ease-in-out;
        }

        .arrow-active-rotate{
            transform: rotate(90deg);
        }

    }

    .product-list-cart{
        margin: 30px 0 55px;

        ul{
            position: relative;

            .first-li{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .pay{
        margin-top: 30px;
    }

    .cart__preview-item{
        position: relative;
        display: flex;
    
        .sale-bage-wrap{
            top: auto;
            bottom: 0rem;
            left: 2rem;

            .sale-badge{
                width: 30px;
                height: 30px;
            }
        }

        h5{
            font-size: 14px;
            color: $accent;
            font-weight: 700;
            padding-top: 1rem;
            margin-bottom: 2px;
        } 

        .weight{
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 8px;
        }
    
        
        .cart__img{
            width: 22%;
            margin-right: .5rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .cart__detail{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

        }

        .remove-button{
            position: absolute;
            right: 0rem;
            top: .5rem;
            cursor: pointer;
            opacity: 0;
        }

        .line{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            margin: 0;
        }

        .product__cart__info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 7rem;

            @include media-for (null, $sm){
                margin-left: .5rem;

            }
            .price{
                font-weight: 700;
                font-size: 20px; 
                color: $accent;

                @include media-for (null, $sm){
                    font-size: 16px;
                }

            }
            .regular-price{
                display: none;
            }
        }

        .product__cart__info-discount{

            .price{
                color: #FF671D !important;
                margin-left: .5rem;
            }

            .regular-price{
                display: block;
                font-weight: 300;
                font-size: 14px; 
                text-decoration: line-through;
                color: rgba($color: #323549, $alpha: .7);


                @include media-for (null, $sm){
                    font-size: 12px;
   
                }
            }

        }

        .product-subtotal{
            font-size: 20px;
            font-weight: 700;
            color: $accent;
            width: 6rem;
        }

        .text-span{
            color: rgba($color: #323549, $alpha: .7);
            font-size: 14px;
            font-weight: 400;
        }

        &:hover{

            .remove-button{
                opacity: 1 !important;
            }
        }
    }


    .local-wrap{
        background-color: $text-white;
        color: rgba($color: #323549, $alpha: .7);
        margin-top: 10px;
        a{
            color: rgba($color: #323549, $alpha: .7); 
            text-align: center;
            display: block;
            background-color: $text-white;
        }
    }


    
}