.cart-modal{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 400px;
    right: -200%;
    padding-top: 25px;
    background-color: $text-white;
    height: 100vh;
    border-top: 1px solid $bg-gray;
    transition: all .3s ease-in-out;
    z-index: 100;

    h4{
        font-size: 14px;
        font-weight: 400;
        font-family: 'DelaGothicOne';
        text-transform: uppercase;
        text-align: center;
        color: $accent;
        margin-bottom: 32px;
    }

    .cart-list{
        height: 27rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
            padding-right: 5px;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            width: 5px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: rgba($color: #000000, $alpha: .25);
            padding-right: 5px;
        }
    }

    .weight{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 13px;
    }

    .cart__preview-item{
        position: relative;
        display: flex;
        padding-bottom: 1rem;

        .cart__img{
            width: 35%;
            margin-right: .5rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cart__detail{
            width: 64%;

            h5{
                font-size: 14px;
                color: $accent;
                font-weight: 700;
                padding-top: 1rem;
            } 

            .cart__detail__header{
                position: relative;

                .remove-button{
                    position: absolute;
                    right: 1rem;
                    top: .5rem;
                    cursor: pointer;
                }
            }

            .product__cart{
                display: flex;
                justify-content: space-between;
                padding-right: 1rem;

                .product__cart__info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price{
                        font-weight: 700;
                        font-size: 20px; 
                        color: $accent;
    
                        @include media-for (null, $sm){
                            font-size: 16px;
                        }
        
                    }
                    .regular-price{
                        display: none;
                    }
                }

                .product__cart__info-discount{

                    .price{
                        color: #FF671D !important;
                        margin-left: .5rem;
                    }
        
                    .regular-price{
                        display: block;
                        font-weight: 300;
                        font-size: 14px; 
                        color: rgba($color: #323549, $alpha: .7);

        
                        @include media-for (null, $sm){
                            font-size: 14px;
           
                        }
                    }
        
                }
            }

            .quantity{
                margin: 0;
            }
        }

        .line{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            margin: 0;
        }
    }
}

.cart-modal-active{
    right: 0;
}