.modal-search{
    position: absolute;  
    width: 100%;
    background: url(../img/bg-search.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    z-index: 50;
    text-align: center;
    padding: 92px 0 0;
    opacity: 0;
    z-index: -100;
    display: none;

    @include media-for (null, $sm){  
        padding-top: 82px;
        margin-top: -4px;
        height: auto;
        padding-bottom: 0 !important;
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    input{
        margin-bottom: 60px;
        max-width: 1027px;
        width: 80%;
        height: 35px;
        background: none;
        border: none;
        border-bottom: 1px solid $accent;
        outline: none;
        border-radius: 0;
        

        @include media-for (null, 1705px){  
            width: 80%;
        }

        @include media-for (null, 1560px){  
            width: 60%;
        }

        @include media-for (null, 1025px){  
            width: 60%;
        }


    }


    .footer-modal{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        @include media-for (null, $sm){  
            position: relative !important;
            margin-top: 50px;
        }
    }
}

.modal-search-active{
    opacity: 1;
    z-index: 50;
    display: block;
}

.form-search-btn{
    position: relative;
    cursor: pointer;

    .close-open-search{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

