.news-blogs{
    text-align: center;
    padding: 50px 0 150px;

    @include media-for (null, $tablet){
        padding: 50px 0 50px;
    }

    @include media-for (null, $sm){
        padding: 35px 0 50px;
    }

    .container-fluid{
        @include media-for (1600px, null){
            padding: 0 200px;
        }
    }

    .grid-container {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 90px;
        
        
        @include media-for (null, $mid-desktop){           
            gap: 15px;
        }

        @include media-for (null, $tablet){
            margin-top: 0px;
        }

        @include media-for (null, $sm){           
            gap: 6px;
            margin-top: 50px;
        }
      
        .item1 {
          grid-row: 1 / span 2;
          grid-column: 1 / span 3;
        }
      
        .item2 {
          grid-row: 1 / span 1;
          grid-column: 4 / span 3;

        }
      
        .item3 {
          grid-row: 2 / span 1;
          grid-column: 1 / span 2;

        }
      
        .item4 {
          grid-row: 2 / span 1;
          grid-column: 3 / span 2;


        }
      
        .item5 {
          grid-row: 2 / span 1;
          grid-column: 5 / span 2;

        }
      
        .item6 {
            grid-row: 3/span 1;
            grid-column: 1 / span 3;

        }

        .item7 {
            grid-row: 3/span 1;
            grid-column: 4 / span 3;
        }

        .item8 {
            grid-row: 4/span 1;
            grid-column: 1 / span 3;
        }

        .item9 {
            grid-row: 4/span 1;
            grid-column: 4 / span 3;
        }
    }

    .item{
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 30px;
        height: 315px;
        border-radius: 80px;

        @include media-for (null, $mid-desktop){           
            height: 250px;
        }

        @include media-for (null, 1025px){           
            height: 210px;
            border-radius: 60px;
        }

        @include media-for (null, $sm){           
            height: 100px;
            border-radius: 32px;
        }

        .img-wrap{
            height: 100%;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info-wrap{
            position: absolute;
            left: 50px;
            bottom: 50px;
            text-align: left;

            .data-span{
                font-weight: 400;
                font-size: 14px;
            }

            h4{
                font-weight: 400;
                font-size: 16px;
                font-family: 'DelaGothicOne';
            }
        }
        
    }


    
}